@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary: #ffffff; /*site*/
  --background-secondary: #f5f5f5; /*componentes*/
  --background-tertiary: #000000; /*navbar*/

  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --font-primary: 'Montserrat', sans-serif;
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body,
img,
h1,
p,
fieldset,
legend,
input,
button,
select,
textarea,
label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--text-primary-color);
  font-family: var(--font-primary);
}

section {
  width: 312px;
  margin: 0 auto 88px;
}

section.hero {
  width: 100%;
  margin: 0;
}

.button {
  background-color: var(--secondary-color);
  border-radius: 16px;
  color: var(--background-secondary);
  display: inline-block;
  font-size: 20px;
  font-weight: var(--title-weight);
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  width: 280px;
}

.content-title {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.content-text {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 2;
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
}

.section-title hr {
  background-color: var(--secondary-color);
  border: none;
  height: 4px;
  margin: 16px auto 32px;
  width: 180px;
}

@media screen and (min-width: 768px) {
  section {
    width: 648px;
  }

  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 970px;
  } 
  .button:hover {
    background-color: var(--primary-color);
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1200px;
  }
}
