header {
  align-items: center;
  background-color: var(--background-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 38px 48px;
}

nav {
  display: none;
}

input[type="checkbox"]:checked ~ nav{
  display: block;
}

.logo {
  display: inline-block;
  height: 64px;
  width: 68px;
}
