.hero-img {
    height: 400px;
    width: 100%;
    background: url('../img/hero-mobile.jpg') no-repeat center / cover; /* [shorthand backgrounds] image repeat position / size*/
}

h2 {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 400;
    margin-top: 56px;
    padding: 0 24px;
    text-align: center;
}