.hero-img {
    height: 400px;
    width: 100%;
    background: url('../img/hero-mobile.jpg') no-repeat center / cover; /* [shorthand backgrounds] image repeat position / size*/
}

h2 {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 400;
    margin-top: 56px;
    padding: 0 24px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .hero-img {
        background: url('../img/hero-tablet.jpg') no-repeat center / cover;
        height: 620px;
        width: 100%;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-top: 88px;
        padding: 0 60px;
    }
    
}

@media screen and (min-width: 1024px) {
    .hero-img {
        background: url('../img/hero-desktop.jpg') no-repeat center / cover;
        width: 100%;
    }

    h2 {
        margin-top: 104px;
        padding: 0 120px;
    }
}