.card {
  border-radius: 16px;
  box-sizing: border-box;
  color: var(--text-secondary-color);
  height: 288px;
  padding: 24px 16px;
  text-align: center;
  width: 312px;
  background-color: black;
}

.card header {
  display: block;
  margin-bottom: 24px;
  padding: 0;
  position: static;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.card header span {
  display: inline-block;
  font-size: 32px;
  margin-top: 24px;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 588px;
    height: 308px;
  }

  .card header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }
}
