:root {
    --background-primary: #ffffff; /*site*/
    --background-secondary: #f5f5f5; /*componentes*/
    --background-tertiary: #000000; /*navbar*/

    --button-primary-color: #8F0101;
    --button-secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;
}

body, img, h1, p, fieldset, legend, input, button, select, textarea, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
