.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.star {
  font-size: 32px;
  color: var(--secondary-color);
  line-height: 32px;
}

.testimonials-container article header p {
  font-size: 16px;
  font-weight: var(--text-weight);
  line-height: 28px;
  margin-bottom: 8px;
}

.testimonials-container article footer {
  align-items: center;
  display: flex;
  gap: 24px;
}

.testimonials-container footer .profile-content h4 {
  font-size: 20px;
  font-weight: var(--title-weight);
  line-height: 32px;
  margin: 0 0 8px;
}

.testimonials-container article footer img {
  width: 86px;
  height: 86px;
}

@media screen and (min-width: 1440px) {
  .testimonials-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
